.header {
  padding: 1rem 0;
  font-size: 1.25rem;
  background-color: rgba(61, 111, 248, 0.87);

  &__title {
    font-weight: bold;
  }

  &__link {
    color: #000;
    transition: all 0.25s ease-in-out 0s;

    &--active,
    &:hover {
      text-decoration: none;
      color: var(--primary);
    }
  }
}