.list-menu{
  text-align: center;
  margin-top: 20px;
  margin-bottom:20px;
  li{
    margin: 0 25px;
    display: inline-block;
    padding: 5px 10px;
    background-color: springgreen;
    border-radius: 5px;
    box-shadow:3px 3px 3px -1px #000;
    a{
      color: #000;
      &:hover, &:focus{
        outline: none;
        text-decoration: none;
      }
      &.header__link--active{
        color:red;
        font-weight: bold;
      }
    }
    
  }
}