.random-photo {
    &__button {
        margin-bottom: 1rem;
        animation-name: aircraft;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        -moz-animation-name: plane;
        -moz-animation-duration: 2s;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        -webkit-animation-name: aircraft;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
    }
    &__photo {
        width: 500px;
        height: 500px;
        margin: auto;
        border-radius: 0.5rem;
        background-color: #eee;
        &>img {
            width: 100%;
            height: 100%;
            border-radius: 0.5rem;
            vertical-align: middle;
        }
    }
}

@-webkit-keyframes aircraft {
    from {
        opacity: 1;
        transform: scale(1)
    }
    50% {
        opacity: 0.7;
        transform: scale(0.95)
    }
    to {
        opacity: 1;
        transform: scale(1)
    }
}

@-moz-keyframes aircraft {
    from {
        opacity: 1;
        transform: scale(1)
    }
    50% {
        opacity: 0.7;
        transform: scale(0.95)
    }
    to {
        opacity: 1;
        transform: scale(1)
    }
}

@keyframes aircraft {
    from {
        opacity: 1;
        transform: scale(1)
    }
    50% {
        opacity: 0.7;
        transform: scale(0.95)
    }
    to {
        opacity: 1;
        transform: scale(1)
    }
}